
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

pydantic==2.7.1
pydantic-settings==2.2.1

motor==3.4.0
pymongo==4.7.2

PyMuPDF==1.24.3

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq

sentence-transformers
torch

numpy

fpdf==1.7.2

pytest
pytest-asyncio
httpx
